@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.title {
  font-family: "Josefin Sans", sans-serif;
}

.queryButtons {
  // display: flex;
  // flex-direction: row;
}

.buttonsHolder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
}

.queryButtonStyles {
  border-radius: 5px;
  height: 45px;
  border: 1px solid #791bd5;
  font-size: 15px;
  margin-left: 7px;
  margin-right: 7px;
}

.queryButtonStyles:hover {
  cursor: pointer;
}

.toggleButtons:hover {
  cursor: pointer;
}
